# Default values for pytorchjob.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

useHostNetwork: false
useHostPID: true
useHostIPC: true
gpuCount: 0 # user define

# devices resources
#devices: amd.com/gpu=1

# rsync image
rsyncImage: registry.cn-zhangjiakou.aliyuncs.com/acs/rsync:v3.1.0-aliyun
# git sync image
gitImage: registry-cn-zhangjiakou.ack.aliyuncs.com/acs/git-sync:4.4.0

privileged: false

useTensorboard: false
tensorboardImage: registry.cn-zhangjiakou.aliyuncs.com/acs/tensorflow:1.12.0-devel
tensorboardImagePullpolicy: Always
tensorboardServiceType: NodePort

tensorboardResources: {}
# tensorboardResources:
#   limits:
#     cpu: 500m
#     memory: 500Mi
#   requests:
#     cpu: 500m
#     memory: 500Mi

annotations: {}
# annotations:

envs: {}

# enable RDMA support
enableRDMA: false

ingress: false

# enable PodSecurityContext
# In the future, this flag should be protected separately, in case of arena admin and users are not the same people
enablePodSecurityContext: false

# enable priorityClassName
priorityClassName: ""

# Defines the policy for cleaning up pods after the PyTorchJob completes.
cleanPodPolicy: "None"


# rankN, is local training when N = 0
workers: 0

# TODO jiaqianjing: image addr of worker init container for init-pytorch
# workerInitPytorchImage: alpine:3.10

imagePullPolicy: Always

# add pod group
podGroupName: ""
podGroupMinAvailable: "1"

