# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Misc
tmp/
sdk/
.kube
*.tgz
*.tar.gz

# Python
__pycache__/

# Go
vendor/
go.work
go.work.sum
*.test
*.out
coverage.txt
/arena-v2

# IDE
.idea/
.vscode/
.claude
.qoder

# OS
.DS_Store
