language: go

go:
  - "1.10"

go_import_path: github.com/kubeflow/arena

# let us have speedy Docker-based Travis workers
sudo: false

script:
  - go build -o bin/arena cmd/arena/*.go
  - go vet ./...
  - go test -v ./...
  - test -z "$(go fmt ./... 2>/dev/null | tee /dev/stderr)" || (echo "please format Go code with 'gofmt'")
  - go test -race -v ./...
