{{- $gpuCount := .Values.gpuCount -}}
{{- $syncMode := .Values.syncMode -}}
{{- $cleanPodPolicy := .Values.cleanPodPolicy -}}
{{- $dataDirs := .Values.dataDirs -}}
apiVersion: kubeflow.org/v1alpha1
kind: MPIJob
metadata:
  name: {{ template "mpijob.fullname" . }}
  labels:
    app: {{ template "mpijob.name" . }}
    chart: {{ template "mpijob.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    createdBy: "MPIJob"
spec:
  {{- if .Values.launcherOnMaster }}
  launcherOnMaster: {{ .Values.launcherOnMaster }}
  {{- end }}
  BackoffLimit: {{ .Values.retry }}
  replicas: {{ .Values.workers }}
  template:
    metadata:
      name: {{ template "mpijob.fullname" . }}
      labels:
        app: {{ template "mpijob.name" . }}
        chart: {{ template "mpijob.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
        createdBy: "MPIJob"
      annotations:
          {{- range $key, $value := .Values.annotations }}
            {{ $key }}: {{ $value | quote }}
          {{- end }}
    spec:
      restartPolicy: Never
      {{- if .Values.useHostNetwork }}
      hostNetwork: {{ .Values.useHostNetwork }}
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      {{- if .Values.useHostPID }}
      hostPID: {{ .Values.useHostPID }}
      {{- end }}
      {{- if .Values.useHostIPC }}
      hostIPC: {{ .Values.useHostIPC }}
      {{- end }}
      volumes:
      {{- if .Values.useTensorboard }}
      {{- if .Values.isLocalLogging }}
      - hostPath:
          path: "{{ .Values.hostLogPath }}"
        name: training-logs-volume
      {{- end }}
      {{- end }}
      {{- if .Values.syncMode }}
      - name: code-sync
        emptyDir: {}
      {{- end }}
      {{- if .Values.nvidiaPath }}
      - hostPath:
          path: "{{ .Values.nvidiaPath }}"
        name: nvidia
      {{- end }}
      {{- if .Values.dataset }}   
      {{- range $pvcName, $destPath := .Values.dataset }}
      - name: "{{ $pvcName }}"
        persistentVolumeClaim:
          claimName: "{{ $pvcName }}"
      {{- end }}
      {{- end }}
      {{- if $dataDirs }}
      {{- range $dataDirs }}
      - hostPath:
          path: {{ .hostPath }}
        name: {{ .name }}
      {{- end }}
      {{- end }}
      {{- if .Values.shmSize }}
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: {{ .Values.shmSize }}
      {{- end }}
      {{- if .Values.syncMode }}
      initContainers:
      - name: init-code
        {{- if .Values.syncImage }}
        image: "{{ .Values.syncImage }}"
        {{- else }}
        {{- if eq .Values.syncMode "rsync" }}
        image: "{{ .Values.rsyncImage }}"
        {{- end }}
        {{- if eq .Values.syncMode "git" }}
        image: "{{ .Values.gitImage }}"
        {{- end }}
        {{- end }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        {{- if eq "rsync" $syncMode }}
        command: ["rsync", "-avP", "{{ .Values.syncSource}}", "/code"]
        {{- end }}
        env:
        {{- range $key, $value := .Values.envs }}
          - name: "{{ $key }}"
            value: "{{ $value }}"
        {{- end }}
        {{- if eq "git" $syncMode }}
          - name: GIT_SYNC_REPO
            value: {{ .Values.syncSource}}
          - name: GIT_SYNC_DEST
            value: {{ .Values.syncGitProjectName}}
          - name: GIT_SYNC_ROOT
            value: /code
          - name: GIT_SYNC_ONE_TIME
            value: "true"
        {{- end }}
        volumeMounts:
          - name: code-sync
            mountPath: /code
      {{- end }}
      containers:
      - image: "{{ .Values.image }}"
        name: mpi   
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        {{- if .Values.workingDir }}
        workingDir: {{ .Values.workingDir }}
        {{- end }}
        command:
        - "sh"
        - "-c"
        - "{{ .Values.command }}"
        resources:             
          requests:
            {{- if gt (int $gpuCount) 0}}  
            {{- if .Values.nvidiaPath }}
            alpha.kubernetes.io/nvidia-gpu: {{ $gpuCount | quote }}
            {{- else}}
            nvidia.com/gpu: {{ $gpuCount | quote }}
            {{- end }}
            {{- end }}
            {{- if .Values.cpu }}
            cpu: {{ .Values.cpu | quote }}
            {{- end }}
            {{- if .Values.memory }}
            memory: {{ .Values.memory | quote }}
            {{- end }}
            {{- if .Values.enableRDMA }}
            rdma/hca: "1"
            {{- end}}
          limits:
            {{- if gt (int $gpuCount) 0}}   
            {{- if .Values.nvidiaPath }}
            alpha.kubernetes.io/nvidia-gpu: {{ $gpuCount | quote }}
            {{- else}}
            nvidia.com/gpu: {{ $gpuCount | quote }}
            {{- end }}
            {{- end }}
            {{- if .Values.cpu }}
            cpu: {{ .Values.cpu | quote }}
            {{- end }}
            {{- if .Values.memory }}
            memory: {{ .Values.memory | quote }}
            {{- end }}
            {{- if .Values.enableRDMA }}
            rdma/hca: "1"
            {{- end}}
        env:
        {{- if .Values.envs }}            
        {{- range $key, $value := .Values.envs }}
        - name: "{{ $key }}"
          value: "{{ $value }}"
        {{- end }}
        {{- end }}
        {{- if .Values.privileged }}
        securityContext:
          privileged: true
        {{- else if .Values.enableRDMA }}
        securityContext:
          capabilities:
            add:
            - IPC_LOCK
        {{- end }}
        volumeMounts:
        {{- if .Values.useTensorboard }}
        {{- if .Values.isLocalLogging }}
        - mountPath: {{ .Values.trainingLogdir }}
          name: training-logs-volume
        {{- end }}
        {{- end }}
        {{- if .Values.syncMode }}
        {{- if .Values.workingDir }}
        - name: code-sync
          mountPath: {{ .Values.workingDir }}/code
        {{- else }}
        - name: code-sync
          mountPath: /code
        {{- end }}
        {{- end }}
        {{- if .Values.nvidiaPath }}
        - mountPath: /usr/local/nvidia
          name: nvidia
        {{- end }}
        {{- if .Values.dataset }}   
        {{- range $pvcName, $destPath := .Values.dataset }}
        - name: "{{ $pvcName }}"
          mountPath: "{{ $destPath }}"
        {{- end }}
        {{- end }}
        {{- if .Values.shmSize }}
        - mountPath: /dev/shm
          name: dshm
        {{- end }}
        {{- if $dataDirs }}
        {{- range $dataDirs }}
        - mountPath: {{ .containerPath }}
          name: {{ .name }}
        {{- end }}
        {{- end }}
