# Default values for arena-artifacts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# global configuration for all subcharts
global:
  # pull image by aliyun vpc network
  pullImageByVPCNetwork: false
  # the prefix of all image
  imagePrefix: registry-cn-zhangjiakou.ack.aliyuncs.com
  # the cluster type
  clusterProfile: "Default"
  # specfiy the nodeSelector for all operator pods
  nodeSelector: {}
  namespace: "arena-system"

# arena binary installer
binary:
  enabled: false
  masterCount: 3
  retry: 3
  hostNetwork: true
  rdma: true
  image: acs/arena-deploy-manager
  tag: latest
  imagePullPolicy: IfNotPresent

# tf-operator
tf:
  enabled: true
  image: acs/tf-operator
  tag: aliyun-82bde3a
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 2
      memory: 8Gi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}

# tf-dashboard
tfdashboard:
  enabled: true
  image: acs/tf-operator
  tag: aliyun-82bde3a
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 2Gi
    requests:
      cpu: 50m
      memory: 256Mi
  nodeSelector: {}

# mpi-operator
mpi:
  enabled: true
  image: acs/mpi-operator
  tag: aliyun-03b5e76
  kubectlDelivery:
    image: acs/kubectl-delivery
    tag: v0.1.0
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 2
      memory: 8Gi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}

# pytorch-operator
pytorch:
  enabled: true
  image: acs/pytorch-operator
  tag: v1.0-aliyun-31139bc
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 2
      memory: 8Gi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}
  initContainerImage: alpine:3.10

# et-operator
et:
  enabled: true
  createSSHSecret: false
  image: acs/et-operator
  tag: v0.1.5-aliyun-d298c36
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 2
      memory: 8Gi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}
  initContainerImage: alpine:3.10

# cron-operator
cron:
  enabled: true
  image: acs/cron-operator
  tag: aliyun-0f570ce
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}

# gpu-exporter
exporter:
  enabled: false
  image: acs/gpu-prometheus-exporter
  tag: v1.0.1-b2c2f9b
  imagePullPolicy: IfNotPresent
  resources: {}

# elastic-job-supervisor
elastic-job-supervisor:
  enabled: true
  image: acs/elastic-job-supervisor
  tag: v0.1.1-71871cc-aliyun
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 300m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 300Mi
  nodeSelector: {}
