# Default values for tf-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Replicas of tf-operator deployment.
replicas: 1

# Controller configurations.
controller:
  # -- Number of workers for controller.
  workers: 10
  # -- Client connection configurations.
  clientConnection:
    # -- QPS is the number of queries per second allowed for K8S api server connection.
    qps: 10
    # --  Burst allows extra queries to accumulate when a client is exceeding its rate.
    burst: 30
