name: Integration Test

on:
  pull_request:
    branches:
      - master
      - release-*

  push:
    branches:
      - master
      - release-*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build-arena:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run go mod tidy
        run: |
          go mod tidy
          if ! git diff --quiet; then
            echo "Please run 'go mod tidy' to add missing and remove unused dependencies"
            exit 1
          fi

      - name: Run go mod vendor
        run: |
          go mod vendor
          if ! git diff --quiet; then
            echo "Please run 'go mod vendor' to make vendored copy of dependencies"
            exit 1
          fi

      - name: Run go fmt check
        run: |
          make go-fmt
          if ! git diff --quiet; then
            echo "Please run 'make go-fmt' to run go fmt against code"
            exit 1
          fi

      - name: Run go vet check
        run: |
          make go-vet
          if ! git diff --quiet; then
            echo "Please run 'make go-vet' to run go vet against code"
            exit 1
          fi

      - name: Run golangci-lint
        run: |
          make go-lint

      - name: Run Go unit tests
        run: |
          make unit-test

      - name: Run Helm unit tests
        run: |
          make helm-unittest

      - name: Build arena binary
        run: |
          make arena

  build-java-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 8

      - name: Build Java SDK
        run: |
          make java-sdk

  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Build docs
        run: |
          pip install -r docs/requirements.txt
          mkdocs build --strict

  e2e-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Set up Kind cluster
        uses: helm/kind-action@v1
        with:
          node_image: kindest/node:v1.29.10
          config: arena-artifacts/ci/kind-config.yaml

      - name: Install arena client
        run: |
          make arena-installer
          tar -zxf arena-installer-*.tar.gz
          arena-installer-*/install.sh --only-binary

      - name: Run e2e tests
        run: |
          make e2e-test
